# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Arena.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unreal_Project\Arena\.idea\.idea.Arena.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
